---
import { Icon } from "astro-icon/components";
---

<div class="row d-flex justify-content-center mt-4">
    <div class="row d-flex mt-4">
        <div class="col-sm-6 offset-3">
            <p class=" fs-4 m-0">So, Who am I?</p>
			<p class="index-intro-midtitle fs-1 primary-text">An artist, a developer, a designer.</p>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-sm-6 offset-3">
            <p class="text-justify light-text fs-5 mt-4" style="text-align: justify;">As a fullstack developer, I am passionate about developing a system. The process of creating new
                logics, solving real world problems,building a fully operational system and incorporating it into our daily lives is what I love about being a developer.
            </p>
        </div>
    </div>
    <div class="row d-flex justify-content-center" style="margin-top:15vh;padding-bottom: 10vh;">
        <div class="col-sm-4 offset-1 mt-4">
            <h1 class="index-intro-midtitle fs-1 mt-4">Logic & Design</h1>
            <p class="text-justify light-text fs-5 mt-4" style="text-align: justify;">With a keen interest in sketching since early childhood, my passion for designing has grown even stronger, and I continue
                to enjoy creating intuitive and interactive UIs. This creative combination of designing aesthetics, frontend and backend logic allows me to work efficiently.
                
            </p>
        </div>
        <div class="col-sm-1">
            <p class="index-scroll text-center">S C R O L L</p>         
        </div>
        <div class="col-sm-4 offset-1" >
            <div class="circular-slant-pattern d-flex justify-content-center align-items-center">
                <Icon name="logos"  class="about-logo-group"/>
            </div>  
        </div>
        <div class="col-sm-1">
            &nbsp;
        </div>
    </div>
</div>
