---
import BaseLayout from '../layouts/BaseLayout.astro';
import About from './about.astro';
import Career from './career.astro';

---

<BaseLayout>
	<div class="row d-flex flex-grow-1 justify-content-around align-items-center index-texts">
		<div class="col-sm-5 offset-2" style="z-index:15;">
			<p class="index-intro-title primary-text">Hi, my name is <br/> <b>SAUGAT</b>.</p>
			<p class="index-intro-subtitle">I'm a fullstack developer from Kathmandu, Nepal.</p>
			<p class="index-scroll text-center">S C R O L L</p>
		</div>
		<div class="col-sm-3" style="z-index:15;">
			<img src="/assets/images/picture.png" alt="Saugat Adhikari" class="img-fluid rounded-circle" />
		</div>
		<div class="col-sm-2">
			&nbsp;
		</div>
	</div>
	<div class="copyright">
		<p>&copy; Saugat Adhikari. All rights reserved.</p>
	</div>


	<section style="margin-top:30vh;margin-bottom:10vh" id="about">
		<About />
	</section>


	<section style="margin-top:20vh;margin-bottom:10vh" id="career">
		<Career />
	</section>

</BaseLayout>
