---
import { Icon } from "astro-icon/components";
---

<div class="bottom-nav">
    <div class="d-flex align-items-center h-100 w-100">
        <div class="circle bg-shadow h-100 d-flex justify-content-center align-items-center me-3">
            <ul class="nav justify-content-end h-100 align-items-center">
                <li class="nav-item">
                    <a class="b-nav-link" href="/index.html">
                        <Icon name="UpArrow" />
                        <span class="tooltip">Move&nbsp;to&nbsp;Top&nbsp;</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="circular-border bg-shadow h-100 w-auto">
            <ul class="nav justify-content-end h-100 align-items-center">
                <li class="nav-item mx-3">
                    <a class="b-nav-link" href="/index.html">
                        <Icon name="Account" />
                        <span class="tooltip">About</span>
                    </a>
                </li>
                <li class="nav-item mx-3">
                    <a class="b-nav-link" href="/index.html">
                        <Icon name="Briefcase" />
                        <span class="tooltip">Career</span>
                    </a>
                </li>
                <li class="nav-item mx-3">
                    <a class="b-nav-link" href="/index.html">
                        <Icon name="Skill" />
                        <span class="tooltip">Skills</span>
                    </a>
                </li>
                <li class="nav-item mx-3">
                    <a class="b-nav-link" href="/index.html">
                        <Icon name="Code" />
                        <span class="tooltip">Projects</span>
                    </a>
                </li>
                <li class="nav-item mx-3">
                    <a class="b-nav-link" href="/index.html">
                        <Icon name="Contact" />
                        <span class="tooltip">Contact</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
