---
import { Icon } from "astro-icon/components";
---

<script>
    const tgt = document.querySelector("#top-btn");
    tgt?.addEventListener("click", () => {
        document
            .querySelector("#body-container")
            ?.scrollTo({ top: 0, behavior: "smooth" });
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    });

    document.addEventListener("DOMContentLoaded", function () {
        const aboutSection = document.getElementById("about");
        const aboutLink = document.querySelector('a[href="#about"]');

        const careerSection = document.getElementById("career");
        const careerLink = document.querySelector('a[href="#career"]');

        const projectsSection = document.getElementById("projects");
        const projectsLink = document.querySelector('a[href="#projects"]');

        const artsSection = document.getElementById("arts");
        const artsLink = document.querySelector('a[href="#arts"]');

        const options = {
            root: null,
            rootMargin: "0px 0px 0% 0px",
            threshold: 0.1,
        };

        const handleIntersection = (
            entries: IntersectionObserverEntry[],
            link: Element,
        ) => {
            entries.forEach((entry) => {
                console.log(entry.isIntersecting);
                if (entry.isIntersecting) {
                    link?.classList.add("active-b-nav");
                } else {
                    link?.classList.remove("active-b-nav");
                }
            });
        };

        const createObserver = (section: HTMLElement, link: Element) => {
            const observer = new IntersectionObserver((entries) => {
                handleIntersection(entries, link);
            }, options);
            observer.observe(section);
        };

        aboutSection ? createObserver(aboutSection, aboutLink!) : null;
        careerSection ? createObserver(careerSection, careerLink!) : null;
        projectsSection ? createObserver(projectsSection, projectsLink!) : null;
        artsSection ? createObserver(artsSection, artsLink!) : null;
    });
</script>

<div class="bottom-nav">
    <div class="d-flex align-items-center h-100 w-100">
        <div
            class="circle inverted-primary-bg primary-bg-color bg-shadow h-100 d-flex justify-content-center align-items-center me-3"
            id="top-btn"
        >
            <ul class="nav justify-content-end h-100 align-items-center">
                <li class="nav-item d-flex align-items-center">
                    <a
                        class="b-nav-link d-flex align-items-center justify-content-center"
                    >
                        <Icon name="UpArrow" class="inverted-primary-bg" />
                        <span class="tooltip">Move&nbsp;to&nbsp;Top&nbsp;</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="circular-border secondary-bg-color bg-shadow h-100 w-auto">
            <ul class="nav justify-content-end h-100 align-items-center">
                <li class="nav-item d-flex align-items-center ms-2">
                    <a
                        class="b-nav-link d-flex align-items-center justify-content-center"
                        href="#about"
                    >
                        <Icon name="Account" />
                        <span class="tooltip">About</span>
                    </a>
                </li>
                <li class="nav-item d-flex align-items-center ms-2">
                    <a
                        class="b-nav-link d-flex align-items-center justify-content-center"
                        href="#career"
                    >
                        <Icon name="Briefcase" />
                        <span class="tooltip">Career</span>
                    </a>
                </li>
                <li class="nav-item d-flex align-items-center ms-2">
                    <a
                        class="b-nav-link d-flex align-items-center justify-content-center"
                        href="#projects"
                    >
                        <Icon name="Code" />
                        <span class="tooltip">Projects</span>
                    </a>
                </li>
                <li class="nav-item d-flex align-items-center ms-2">
                    <a
                        class="b-nav-link d-flex align-items-center justify-content-center"
                        href="#arts"
                    >
                        <Icon name="Skill" />
                        <span class="tooltip">Arts</span>
                    </a>
                </li>
                <li class="nav-item d-flex align-items-center ms-2 me-2">
                    <a
                        class="b-nav-link d-flex align-items-center justify-content-center"
                        href="/index.html"
                    >
                        <Icon name="Contact" />
                        <span class="tooltip">Contact</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
