---
import '../styles/global.css';
import { Icon }  from 'astro-icon/components';

---

<header>
    <nav class="p-4">
        <div class="row circular-border-md" style="border:1px solid var(--secondary-dark-bg-color)">
            <div class="col-sm">
                <a href="/">
                    <img
                        src="/assets/images/Sadhicari.svg"
                        alt="logo"
                        class="logo"
                    />
                </a>
            </div>
            <div class="col-sm  flex align-items-center">
                <ul class="nav justify-content-end h-100 align-items-center" style="position: relative;">
                    <li class="nav-item me-3">
                        <a class="nav-link p-0" target="_blank" href="https://www.linkedin.com/in/saugatad/">
                            <Icon name="LinkedinLogo" />
                        </a>
                    </li>
                    <li class="nav-item me-3">
                        <a class="nav-link p-0" target="_blank" href="https://github.com/saugatnp">
                            <Icon name="Github" />
                        </a>
                    </li>
                    <li class="nav-item me-3">
                        <a class="nav-link p-0" href="mailto:saugatnp11@gmail.com">
                            <Icon name="Mail" />
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-1">
                &nbsp;
            </div>
        </div>
    </nav>
</header>
