---
import Bottomnavigation from "../components/bottomnavigation.astro";
import Header from "../components/header.astro";
import "bootstrap/dist/css/bootstrap.css";
import "../styles/global.css";
const { showBottomNavigation = true } = Astro.props;

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Saugat Adhikari</title>
	</head>
	<body>
		
		<div class="body-container d-flex flex-column" id="body-container">
			<Header />
			<slot />
		</div>
		{ showBottomNavigation && <Bottomnavigation />}
	</body>
	<div class="copyright text-white">
		<p>&copy; Saugat Adhikari. All rights reserved.</p>
	</div>
</html>
